BoilerPlate/obj*
BoilerPlate.Service/obj*
BoilerPlate.Repository/obj* 
BoilerPlate.Data/obj*
BoilerPlate.Core/obj*

 
BoilerPlate.Service/bin*
BoilerPlate.Repository/bin* 
BoilerPlate.Data/bin*
BoilerPlate.Core/bin*

BoilerPlate/App/**/*.js* 