<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    
    <li>
        <a href="#">Error 404</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
            404
        </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p>
                We can not find the page you're looking for.<br />
                <a href="/">
                    Return home
                </a>
                or try the search bar below.
            </p>
            
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->